
  .align-right {
      float: right;
  }
  .logo {
      width: 250px;
      height: auto;
  }
  .logo-container {
      margin-top: 0.5rem;
      text-align: center;
  }
  input.ng-touched.ng-invalid {
      border: 1px solid red;
  }
  .popup {
      margin-top: 0.5rem;
      text-align: center;
  }
  
  .input-wrapper {
    position: relative;
  }
  
  .show-password {
    position: absolute;
    right: 8px;
    top: 52%;
    transform: translateY(-50%);
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.chat-list {
    max-width: 600px;
    margin: 20px auto;
}

.chat {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-details {
    flex-grow: 1;
}

h3 {
    margin: 0;
    font-size: 18px;
}

p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}