<body>
<app-toolbar></app-toolbar>
<div class="all">
  <h1>Account Settings</h1>

  <div class="section">
    <h2>Profile Picture</h2>
    <input type="file" id="fileInput" (change)="uploadImage()" accept=".png, .jpeg, .jpg">
    <div class="image-container">
      <img *ngIf="!changingPicture" [src]="imageUrl" class="profilePic">
      <img *ngIf="changingPicture" [src]="newImageUrl" class="profilePic">
      <button *ngIf="changingPicture" (click)="notChangePic()" class="reset-button">Reset Picture</button>
    </div>
  </div>

  <div class="section">
    <h2>User Name</h2>
    <p>Username: {{ userName }}</p>
    <button (click)="changeName()" class="action-button">{{ changingName ? 'Cancel Change' : 'Change' }}</button>
    <input *ngIf="changingName" (input)="handleUserNameChange($event)" type="text" name="username" class="input-field">
    <label *ngIf="changingName" [style.color]="userExists ? 'red' : 'green'">{{ isAvailableText }}</label>
  </div>

  <div class="section">
    <h2>Password</h2>
    <button (click)="changePassword()" class="action-button">{{ changingPassword ? 'Cancel Change' : 'Change' }}</button>
    <input *ngIf="changingPassword" (input)="handlePasswordChange($event)" type="password" name="password" class="input-field">
  </div>

  <div class="buttons">
    <button (click)="cancelAllChanges()" class="cancel-button">Cancel</button>
    <button (click)="safeAllChanges()" class="safe-button">Save</button>
  </div>
</div>
</body>
