body{
  background-color: var(--main-color);
  filter: invert(var(--invertion)) hue-rotate(calc(var(--invertion)*180deg));
  overflow: auto;
}


.all {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.section {
  margin-bottom: 20px;
}

h1, h2 {
  color: #333;
}

.input-field {
  padding: 8px;
  margin-top: 8px;
  width: calc(100% - 16px);
}

.profilePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  filter: invert(var(--invertion)) hue-rotate(calc(var(--invertion)*180deg));
}

#profilePic:hover {
  filter: brightness(40%)
}

.action-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.reset-button {
  padding: 8px 16px;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
}

.buttons {
  text-align: right;
}
/* 
.cancel-button, .safe-button {
  padding: 8px 16px;
  background-color: #6c757d;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
} */

.cancel-button:hover, .safe-button:hover {
  background-color: #5a6268;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  max-width: 100%;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  /* background-color: rgba(0, 0, 0, 0.7); */
  padding: 10px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  /* transition: visibility 0s, opacity 0.5s linear; */
}

.image-text:hover {
  
}

.align-left {
  float: left;
  color: red;
}

.image-container:hover .image-text {
  visibility: visible;
  opacity: 1;
}

.reset-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.input-wrapper {
  position: relative;
}

.show-password {
  position: absolute;
  right: 8px;
  top: 60%;
  transform: translateY(-50%);
}
