
<body>
<app-toolbar></app-toolbar>
<div class="search-container">
  <select id="myDropdown" (change)="handleDropdownChange($event)">
    <option value="option1">Search by username</option>
    <option value="option2">Search by user id</option>
  </select>
  <input (input)="handleInputChange($event)" type="text" name="userInput" placeholder="Enter search term">
  <button (click)="search()">Search</button>
</div>

<div class="user-list">

  <div *ngIf="users.length === 0" class="no-user">No user found</div>

  <ng-container *ngFor="let user of users">
    <mat-card class="user-card">
      <div class="card-content">

        <div class="username">
          <b *ngIf="user.username == getUsername" style="color: #226699; cursor: pointer;" (click)="onClickProfile(user.username)">{{user.username}}</b>
          <b *ngIf="user.username != getUsername" style="cursor: pointer;" (click)="onClickProfile(user.username)">{{user.username}}</b>
        </div>


        <div class="image-container">
          <img [src]="user.profilePic ? user.profilePic : '../../../assets/pfb.jpg'" class="profile-pic" alt="Profile Picture"
          style="cursor: pointer;" (click)="onClickProfile(user.username)">
        </div>

        <div class="userId">
          <b>UserID: {{ user.id }}</b>
        </div>

      </div>
    </mat-card>
  </ng-container>

</div>
<app-sidebar class="sidebar" ></app-sidebar>
</body>
