body{
  background-color: white;
  filter: invert(100%) hue-rotate(180deg);
  overflow: auto;
}


.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}



.user-list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.user-card {
  width: 17.5vw;
  margin: 1vw;
  border: 10px solid #f5eeff;
}

.card-content {
  padding: 10px;
}

.profile-pic {
  width: 100%;
  height: auto;
  filter: invert(100%) hue-rotate(180deg);
}

.no-user {
  color: red;
  margin-bottom: 20px;
}

