body{
  background-color: var(--main-color);
  filter: invert(var(--invertion)) hue-rotate(calc(var(--invertion)*180deg));
  overflow: auto;
}


.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
  margin-left: 350px;
}



.user-list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 350px;
}

.user-card {
  width: 15vw;
  margin: 1vw;
  border: 10px solid #f5f3ff;
}

.card-content {
  padding: 10px;
}

.profile-pic {
  width: 100%;
  height: auto;
  filter: invert(var(--invertion)) hue-rotate(calc(var(--invertion)*180deg));
}

.no-user {
  color: red;
  margin-bottom: 20px;
}

.sidebar{
  position: absolute;
  top: 200px;
  left: 200px;
}

