<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div class="container h-100 w-100 align-items-center justify-content-center d-flex">
        <div class="row w-100 d-flex justify-content-center">
            <div class="col-12 col-md-6" style="height: 400px">
                <div class="logo-container">
                    <img src="../../assets/Logo.png" class="logo" alt="YAP Logo">
                </div>
                <h1 class="text-center mb-5">Login</h1>
                <form [formGroup]="applyForm" (submit)="submitForm()" #form="ngForm">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter username"
                            formControlName="username">
                        <span style="color: red" *ngIf="!applyForm.get('username')?.valid && applyForm.get('username')?.touched">Please enter a valid username</span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter password"
                        formControlName="password">
                        <span style="color: red" *ngIf="!applyForm.get('password')?.valid && applyForm.get('password')?.touched">Please enter a valid password</span>
                    </div>
                    <button mat-raised-button color="primary" type="submit" [disabled]="form.form.invalid || disableLoginButton">Login</button>
                    <button mat-button color="primary" class="align-right" type="button"
                        (click)="switchToRegister()">Register</button>
                </form>
                <div *ngIf="loginFailed" class="alert alert-danger popup" role="alert">
                    Password or username is incorrect.
                </div>
                <div *ngIf="disableLoginButton" class="alert alert-danger popup" role="alert">
                    Bro gotta chill.
                </div>
                <div *ngIf="down" class="alert alert-danger popup" role="alert">
                    The server seems to be down.
                </div>
            </div>
        </div>
    </div>


</body>

</html>
