body{
  background-color: var(--main-color);
  filter: invert(var(--invertion)) hue-rotate(calc(var(--invertion)*180deg));
  overflow: auto;
}

.align-right {
    float: right;
}
.logo {
    width: 250px;
    height: auto;
}
.logo-container {
    margin-top: 0.5rem;
    text-align: center;
}
input.ng-touched.ng-invalid {
    border: 1px solid red;
}
.popup {
    margin-top: 0.5rem;
    text-align: center;
}

#myCanvas {
  position: absolute;
  left: 50%;
  top: 13%;
  transform: translate(-50%);
}

.gameover{
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%);
  z-index: 2;
}

.gameover-score{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  z-index: 2;
}

.starter{
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%);
  z-index: 2;
}

.down-message{
  position: absolute;
  left: 85%;
  top: 40%;
  transform: translate(-50%);
  z-index: 2;
}

.online-message{
  position: absolute;
  left: 85%;
  top: 40%;
  transform: translate(-50%);
  z-index: 2;
}

.online-button{
  position: absolute;
  left: 85%;
  top: 46%;
  transform: translate(-50%);
  z-index: 2;
}

.sidebar{
  position: absolute;
  top: 200px;
  left: 200px;
}
