<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body style="height: 100vh">
    <app-toolbar></app-toolbar>
    <div *ngIf="false" class="container h-100 w-100  justify-content-center d-flex">
        <div class="row w-100 d-flex justify-content-center">
            <div class="col-12 col-md-6" style="height: 400px">
                <div class="logo-container">
                    <img src="../../assets/Logo.png" class="logo" alt="YAP Logo">
                </div>
                <h1 class="text-center mb-5" style="color: #226699; font-family: Verdana, Geneva, Tahoma, sans-serif;">is unfortunately down.</h1>
            </div>
        </div>
    </div>

    <canvas (click)="start()" id="myCanvas" width="600" height="600"></canvas>
    <h1 class="gameover" *ngIf="ended"> game Over</h1>
    <h2 class="gameover-score" *ngIf="ended"> score: {{score}}</h2>
    <h2 class="starter" *ngIf="ended || !started"> double click to start</h2>

    <h2 class="down-message" *ngIf="!online"> Yap is down :(</h2>
    <h2 class="online-message" *ngIf="online"> Yap is online</h2>
    <button class="online-button" *ngIf="online" (click)="goToYap()">go to yap</button>


</body>

</html>
