
  
  .align-right {
      float: right;
  }
  .logo {
      width: 250px;
      height: auto;
  }
  .logo-container {
      margin-top: 0.5rem;
      text-align: center;
  }
  input.ng-touched.ng-invalid {
      border: 1px solid red;
  }
  .popup {
      margin-top: 0.5rem;
      text-align: center;
  }
  
  .input-wrapper {
    position: relative;
  }
  
  .show-password {
    position: absolute;
    right: 8px;
    top: 52%;
    transform: translateY(-50%);
  }
  