
  
  .align-right {
      float: right;
  }
  .logo {
      width: 250px;
      height: auto;
  }
  .logo-container {
      margin-top: 0.5rem;
      text-align: center;
  }
  input.ng-touched.ng-invalid {
      border: 1px solid red;
  }
  .popup {
      margin-top: 0.5rem;
      text-align: center;
  }
  
  .input-wrapper {
    position: relative;
  }
  
  .show-password {
    position: absolute;
    right: 8px;
    top: 52%;
    transform: translateY(-50%);
  }
  
  .message-container {
    display: flex;
    flex-direction: column;
  }
  
  .message {
    max-width: 70%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .outgoing {
    align-self: flex-end;
    background-color: #DCF8C6; /* Light green for outgoing messages */
  }
  
  .incoming {
    align-self: flex-start;
    background-color: #ECE5DD; /* Light gray for incoming messages */
  }

  .date-outgoing {
    align-self: flex-end;
  }

  .date-incoming {
    align-self: flex-start;
  }