body{
  background-color: white;
  filter: invert(100%) hue-rotate(180deg);
  overflow: auto;
  height: 100vh;
}

.center {
    display: flex;
    justify-content: center;
    color: #226699;
    font-size:xx-large;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
  /* justify-content: left; */
  }
