<div class="card-content" style="background-color: #e1f2f8;" *ngIf="comment.new">
                            <div class="image-container">
                              <img src="../../../assets/pfb.jpg" class="pfb" alt="Your Image">
                            </div>
                            <div class="text-content">
                              <div class="title">
                                <b *ngIf="comment.username==getUsername" style="color: #226699">{{comment.username}}</b>
                                <b *ngIf="comment.username!=getUsername">{{comment.username}}</b>
                              </div>
                              <div class="description">
                                {{comment.message}}
                              </div>
                            </div>
                          </div>
                          <div class="card-content" *ngIf="!comment.new">
                            <div class="image-container">
                              <img src="../../../assets/pfb.jpg" class="pfb" alt="Your Image">
                            </div>
                            <div class="text-content">
                              <div class="title">
                                <b *ngIf="comment.username==getUsername" style="color: #226699">{{comment.username}}</b>
                                <b *ngIf="comment.username!=getUsername">{{comment.username}}</b>
                              </div>
                              <div class="description">
                                {{comment.message}}
                              </div>
                            </div>
                          </div>