/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --value: 0;
  --main-color: #ffffff;
  --invertion: 0;
  --border-color: #888888;
}
