body{
  background-color: white;
  filter: invert(100%) hue-rotate(180deg);
  overflow: auto;
  height: 100vh;
}

.align-right {
    float: right;
}
.logo {
    width: 250px;
    height: auto;
}
.logo-container {
    margin-top: 0.5rem;
    text-align: center;
}
input.ng-touched.ng-invalid {
    border: 1px solid red;
}

.popup {
    margin-top: 0.5rem;
    text-align: center;
}
