<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<ng-container *ngIf="loading">
  <mat-spinner class="center"></mat-spinner>
</ng-container>
<app-down *ngIf="down"></app-down>
<ng-container *ngIf="!loading && !down">

                    <mat-card *ngFor="let item of [].constructor(yapService.loadedYaps.length); let i = index">
                        <div class="card-content">
                            <div class="image-container">
                              <img *ngIf="!yapService.usersOfYaps[i].profilePic" src="../../../assets/pfb.jpg" class="pfb" style="cursor: pointer;" (click)="onClickProfile(yapService.loadedYaps[i].username)">
                              <img *ngIf="yapService.usersOfYaps[i].profilePic" [src]="yapService.usersOfYaps[i].profilePic" class="pfb" style="cursor: pointer;" (click)="onClickProfile(yapService.loadedYaps[i].username)">
                            </div>
                            <div class="text-content">
                              <div class="title">
                                <b *ngIf="yapService.loadedYaps[i].username == getUsername" style="color: #226699; cursor: pointer;" (click)="onClickProfile(yapService.loadedYaps[i].username)">{{yapService.loadedYaps[i].username}}</b>
                                <b *ngIf="yapService.loadedYaps[i].username != getUsername" style="cursor: pointer;" (click)="onClickProfile(yapService.loadedYaps[i].username)">{{yapService.loadedYaps[i].username}}</b>
                              </div>
                              <div (click)="onClickSpecificYap(i)" style="cursor: pointer" class="description">
                                <span *ngFor="let part of splitTrendsYap(yapService.loadedYaps[i].message)">
                                <span *ngIf="part.indexOf('#') !== -1 && part.indexOf('#') < part.length - 1" style="color:red" (click)="navigateToTrend(part.substring(1));$event.stopPropagation()" [innerHTML]="part"></span>
                                  <span *ngIf="part.indexOf('@') !== -1 && part.indexOf('@') < part.length - 1" style="color:blue" (click)="onClickProfile(part.substring(1));$event.stopPropagation()" [innerHTML]="part"></span>
                                  <span *ngIf="((part[0] !== '#' || part.slice(-1) === '#') && (part[0] !== '@' || part.slice(-1) === '@'))" [innerHTML]="part"></span></span>
                              </div>
                            </div>
                          </div>

                        </mat-card>
  <button mat-button (click)="onClickLoadMore()" >More</button>

</ng-container>
</body>
</html>

