.align-right {
    float: right;
}
.logo {
    width: 250px;
    height: auto;
}
.logo-container {
    margin-top: 0.5rem;
    text-align: center;
}
input.ng-touched.ng-invalid {
    border: 1px solid red;
}

.popup {
    margin-top: 0.5rem;
    text-align: center;
}

.icon {
    width: 20px;
    height: auto;
}